body{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.container-principal{
    position: relative;
    height: 100vh;
    display: block;
    margin-left: 250px;
    padding: 5em 1.2em 1.2em 1.2em;
    z-index: 5;
}

.ui-table{
    font-size: 10px !important;
}

.ui-table-head{
    font-size: 11px;
}
input, textarea{
    font-size: 10px !important;
}
label{
    font-size: 10px !important;
}
button{
    font-size: 0.8em !important;
    padding: .2em 0 !important;
    margin: 5px 2px !important;
}
.ui-panel-titlebar{
    height: 40px;
    padding: 0;
    margin: 0;
}
.ui-tabview-nav li a{
    font-size: .8em !important;
    font-weight: normal !important;
}
td{
    padding: 0em .5em !important;
}
